* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background-color: #eff2f6;
$text-color: #aeb8c4;
$card-color: #ffffff;
$bold-text-color: #4C5968;

body {
  background-color: rgb(255, 255, 255);
  font-family: "SFProDisplay-Semibold";
}
